* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

p {
  font-size: 4mm;
}

:root {
  --color-primary: rgb(206, 0, 0);
  --color-secondary:   rgb(0, 3, 51);
  --color-white:     #FFFFFF;
  --color-black:     #000;
  --color-grey-0:    #f8f8f8;
  --color-grey-1:    #dbe1e8;
  --color-grey-2:    #b2becd;
  --color-grey-3:    #2e3138;
  --color-grey-4:    #454e56;
  --color-grey-5:    #000000;
  --color-grey-6:    #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
  --color-primary:   rgb(0, 3, 51);
  --color-secondary: rgb(206, 0, 0);
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #c1fbfd;
  --color-grey-1: #191b1d;
  --color-grey-2: #292d30;
  --color-grey-3: #2e3336;
  --color-grey-4: #454e56;
  --color-grey-5: #464444;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
h4{
  text-align: center;
  margin-bottom: 5px;
}

.container {
  display: none;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateX(-100%) scaleX(0);
            transform: translateX(-100%) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateX(-100%) scaleX(0);
            transform: translateX(-100%) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1);
            transform: translateX(0) scaleX(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-0);
  pointer-events: none;
}

.controls .active-btn {
  background-color: var(--color-secondary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls .active-btn i {
  color: var(--color-white);
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/*Header-content*/
.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .left-header .h-shape {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: ellipse(62% 70% at 37% 50%);
          clip-path: ellipse(62% 70% at 37% 50%);
}

.header-content .left-header .image {
  border-radius: 20%;
  height: 80%;
  width: 58%;
  margin-left: 4rem;
  background-color: #f8a25b;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header-content .left-header .image img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 3rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}

.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.contact-content-con .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content-con .left-contact .email {
  font-size: 8mm;
}

.contact-content-con .left-contact .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-content-con .left-contact .contact-info .contact-item p {
  margin: .3rem 0 !important;
  padding: 0 !important;
  font-size: 8mm;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.contact-content-con .left-contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-4);
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 .4rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.download{
  width: 50px;
  height: 50px;
  border-radius: 25%;
  margin: 0 .4rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  }

.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}

.contact-content-con .right-contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 3rem;
}

.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: .8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact .i-c-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

.contact-content-con .right-contact .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*Independed components*/
.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 25px;
    height: 25px;
  }
  .header-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem .3rem;
  }
  .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .container {
    padding: 2rem 2.5rem !important;
  }
  .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0;
  }
  .contact-item p {
    font-size: 15px;
    color: white;
  }
  .contact-item span {
    font-size: 15px;
  }
  .contact-item .icon {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1250px) {
  .header-content .right-header {
    padding-right: 9rem;
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .header-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .left-header .image {
    width: 80% !important;
    margin: 0 auto !important;
  }
  .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}